   <div class="footer grid-full wide">
            <div class="row">
                <div class=" col l-4 m-12 c-12" style="text-align: center;color: gray;">
                    <div class="" style="padding-bottom: 10px;">
                        <img src="http://localhost:3000/imgs/logo" width="150px" alt="">
                    </div>
                    <p style="padding-bottom: 20px;font-size: 23px;color:gray">CÀ PHÊ BỘT UYÊN PHƯƠNG nhà sản xuất và phân phối cà phê hàng đầu buôn ma thuột từ năm 1995.</p>
                    <p style="padding: 10px 0;font-size: 20px;"><i class="ti-headphone-alt"></i> Hotline : 0853808086</p>
                    <p style="padding: 10px 0;font-size: 20px;"><i class="ti-email"></i> Email : thanhcongphan2001@gmail.com</p>
                    <p style="padding: 10px 0;font-size: 20px;"><i class="ti-map-alt"></i> Địa chỉ : Thạnh lộc quận 12 TPHCM</p>
                </div>
                <div class="col l-4 m-6 c-12" style="text-align: center;padding: 10px 0;">
                    <h1 style="padding-top: 10px;">Google map</h2>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.7517639770504!2d106.77279011380043!3d10.83029929228497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752701a34a5d5f%3A0x30056b2fdf668565!2zVHLGsOG7nW5nIENhbyDEkOG6s25nIEPDtG5nIFRoxrDGoW5nIFRQLkhDTQ!5e0!3m2!1svi!2s!4v1653365728668!5m2!1svi!2s"
                            width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>
                <div class="col l-4 m-6 c-12" style="text-align: center;padding:10px 0">
                    <h1 style="padding: 10px;">Fanpage</h2>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FK20Channel%2F&tabs=timeline&width=340&height=271&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId" width="340" height="271"
                            style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
                <div class="col l-12 m-12 c-12" style="background-color:#B27548;text-align: center;padding: 20px 0;">
                    <p style="color: white;font-size: 30px;">@CREATE BY CONGFANG ĐẸP TRAI</p>
                </div>
            </div>
        </div>